body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

html, body, input, textarea, select, button {
  background-color: #181a1b;
  color: #e8e6e3;
}

a {
  color: #00B7FF;
}

.todo {
  border: 2px solid brown;
  padding: 10px;
  margin: 5px;
}

.todo_closed {
  border: 2px solid darkblue;
  padding: 10px;
  margin: 5px;
}

.fl {
  float: left;
}

.todo_button {
  margin: 3px;
  padding: 3px;
  border: 2px solid lightcoral;
}

.fl_right {
  float: right;
}

.navibar {
  font-size: large;
}
.navibar_title.active {
  margin-right: 20px;
  color: aquamarine;
}
.navibar_title {
  margin-right: 20px;
}

.todo_actualbutton {
  border: none;
  cursor: pointer;
}

